<body style="margin-top: 40px;">    
	<div class="container">      
		<div id="view-10" view="">
			<div class="hero-unit">  
			<h1><%= @name %>, <%= @message %></h1>        

			<p><em>- <%= @from %></em></p>
		</div>
	    </div>
	</div>
</body>