<body style="margin-top: 40px;">    
	<div class="container">      
		<div id="view-10" view="">   

			<h1><%= @message %></h1>        

			<p><em>- <%= @from %></em></p>

	    </div>
	</div>
</body>